
 body {
        font-family: Arial, sans-serif; 
        margin:0px;
    }
    
 .container {
    max-width: 800px;
    margin: 0 auto;
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    margin-bottom: 5px;
}

.section a {
    text-decoration: none;
    color: #333;
}

.section a:hover {
    text-decoration: underline;
}

.options {
    display: none;
}

/* Estilos para el despliegue de opciones al hacer clic */
.options.visible {
    display: block;
}  

#General
	{
		width:100%;
		height: 100%;
		position: absolute;
	
	}
	
	


 /* - LOGIN-*/
 div#pantalla_principal_izquierda {
    padding-left: 10%;
    padding-top: 10%;
}
 


 /* -SECCION LOGIN INICIO -*/
#Login
	{
		background-color:#D6DFE6;
		width:40%;
		height: 100%;
		float:right;
		display: inline-block;
		border-radius: 40px 0px 0px 0px; 
		justify-content: center;
		align-items: center;	
        text-align: center;
        font: arial;
	
	}

 #Login form {
      width: 100%; 
    }
	
	
	
#Login input[type="text"],
#Login input[type="password"]
{
    width: 60%; /* Ajusta el ancho de las cajas de texto */
    padding: 10px; /* Añade relleno dentro de las cajas de texto */
    margin-bottom: 20px; /* Añade espacio entre las cajas de texto */
    font-size: 16px; /* Ajusta el tamaño de la fuente */
    border: 1px solid #ccc; /* Añade un borde */
    border-radius: 5px; /* Añade bordes redondeados */
}


#Login input[type="submit"]	{
	 margin-bottom: 5%; 
	 border-radius: 5px; 
	 width: 20%;
	 font-size: 16px;
	 
	
}


 /* -SECCION LOGIN FIN -*/




 /* - LINK RECUPERAR O CREAR USUARIO-*/

 .info-text {
            font-size: 18px;
            margin-bottom: 15px;
            line-height: 1.6;
        }


  .info-list {
            list-style-type: none;
            padding: 0;
        }  
        
        
  .info-list a {
            color: #1a73e8;
            text-decoration: none;
            font-weight: bold;
            font-size: 18px;
        }
        
        

#Bienvenido
	{
		background-color:white;
		width:60%;
		display: inline-block;
		color: black;
		font-family: system-ui;
	}
	
 /* -Margen izquierdo bienvenida-*/
 
 .logo{
 	width: 23%;
 }
 
 
 

 #gift-bienvenida{
 	width: 88%;
 }
 
 /* - Fin Margen izquierdo bienvenida-*/
	

	
	
	
 /* -SECCIÓN ALTA CLIENTE-*/
 .accordion {
   background-color: #eee;
   color: #444;
   cursor: pointer;
   padding: 18px;
   width: 100%;
   border: none;
   text-align: left;
   outline: none;
   font-size: 15px;
   transition: 0.4s;
   margin-top: 10px;
  }
 
.active, .accordion:hover {
   background-color: #ccc;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}


.panel {
 padding: 0 18px;
 background-color: white;
 max-height: 0;
 overflow: hidden;
 transition: max-height 0.2s ease-out;
 }

.form-group {
  margin-bottom: 5px;
}

label {
 display: block;
 margin-bottom: 5px;
 }

 input[type="text"], input[type="date"], input[type="email"], input[type="password"], select {
   width: 100%;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

 input[type="submit"] {
   background-color: #4CAF50;
   color: white;
   padding: 15px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 50px;
   margin-left: 5px;
   box-sizing: border-box;
}


input[type="submit"]:hover {
   background-color: #45a049;
}

 input[type="button"] {
   background-color: #778899;
   color: white;
   padding: 15px 20px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-top: 50px;
   box-sizing: border-box;
}

   .flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px; /* aumentar este valor para más separación */
}

.flex-item {
    flex: 1 1 calc(50% - 30px); 
    min-width: 200px;
   
}
.banner {
    background-color: #78AD89;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo_encabezado_izquierda {
    display: flex;
    align-items: center;
    color: white;
}

.logo_encabezado_izquierda img.logo_encabezado {
    max-width: 100px; 
    margin-right: 10px;
}

.logo_encabezado_derecha {
    display: flex;
    align-items: center;
    color: white;
}

.logo_encabezado_derecha a.logout {
    margin-left: 10px; 
}

.logo_encabezado_derecha a.logout img.logo_encabezado {
    width: 40px; 
    height: auto;
}

.botonera{
	background-color: white!important; 
    color: #808080!important;
    border: 2px solid #78AD89!important;
    padding: 10px 20px!important; 
    font-size: 16px!important;
    cursor: pointer!important; 
    text-decoration: none!important; 
    display: inline-block!important;
    text-align: center!important; 
    border-radius: 5px!important;
}


/* Estilos del popup */
.popup {
    display: none;
    position: fixed;
    top: 30%;
    left: 30%;
    width: 30%;
    background-color: #f5f7f9;
    color: black;
    border: 2px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    z-index: 1000;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.popup.active {
    display: flex;
}

.popup-content {
    background-color: white;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    position: relative; 
}

.close-btn {
    position: fixed;
    top: 30%;
    right: 40%;
    cursor: pointer;
    color: black;
    font-size: 24px;
    font-weight: bold;
}




/*TABLA DE LISTAR CLIENTES */

    table {
        width: 100%;
        border-collapse: collapse;
    }
    table, th, td {
        border: 1px solid black;
    }
    th, td {
        padding: 15px;
        text-align: left;
    }
    th {
        background-color: #f2f2f2;
    }
  
  
  
  /*USUARIO ADMINISTRADOR */  
  
   .button-container {
    display: flex;
    justify-content:center; /* Centra los elementos horizontalmente */
    margin-top: 20px;
}




/*BUSCAR CLIENTES */
#BusquedaCliente {
    background-color: white;
    width: 300px; /* Ajustado para dar más espacio al botón */
    display: flex;
    align-items: center;
    gap: 10px;
    color: black;
    font-family: system-ui;
    margin-top: 20px;
    margin-left: 550px;
}

#BusquedaCliente input[type="submit"] {
    margin-top: -5px; /* Ajusta este valor según sea necesario */
}

#ResultadoBusqueda {
    background-color: white;
    width: calc(100% - 450px); /* Calcula el ancho del contenedor excluyendo el espacio del contenedor BusquedaCliente y un margen adicional */
    margin-top: 20px;
    margin-left: 100px;
    float: right; /* Hace que el contenedor flote a la derecha */
}

#ResultadoBusqueda input[type="text"],
#ResultadoBusqueda input[type="password"] {
    width: 450px; /* Define el ancho deseado para los campos de entrada */
}



.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 50%;
}

/* ESTILO TABLA */

.display {
        width: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }
    
.display th, .display td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
        word-wrap: break-word;
        font-size: 12px;
    }

.display th {
	background-color: #f2f2f2;
	font-weight: bold;
    }

.display tr:nth-child(even) {
	background-color: #f9f9f9;
    }

.display tr:hover {
	background-color: #f1f1f1;
    }
    
.btnEspecial {
     background-color: #78AD89;
     color: white;
     border: none;
     border-radius: 5px;
     cursor: pointer;
     margin-left: 0;
     box-sizing: border-box;
     margin-top: 0px;
     font-size: 90%;
     padding: 10px 10px;
     text-align: center;
     text-decoration: none; /* Remove underline for links */
     display: inline-block; /* Ensure block styling for links */
  
}

 input[type="button"].btnEspecial {
           
        }

.display td {
    overflow: hidden; 
}


/* estilo detalle cuenta*/

.cuenta{
    box-sizing: border-box;
    font-size: 90%;
    padding: 10px 10px;
    border: 1px solid #778899;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 90%;
    padding: 10px 10px;
    margin: 2%;
}

/* estilo tabla prestamo*/

.custom-table {
    /* Estilos espec�ficos para tu tabla personalizada */
    width: 50%;
    border-collapse: collapse;
    margin: 0 auto;
}

/* estilo carga domicilio*/

.form-group-domicilio {
	display: flex;
	justify-content: space-between;
	width: 100%;
    }

.form-group-domicilio .group {
	display: flex;
	flex-direction: column;
	flex: 1;
	margin-right: 20px;
    }

.form-group-domicilio .group:last-child {
	margin-right: 0;
    }
    
  
 /* estilo pedir pr�stamo*/
 
 .btnPrestamo{
    display: flex;
    justify-content: center;
    align-items: center;
	}
